{{ $data := index .Site.Data .Params.dir .Params.file}}

<div>
  <canvas id="{{ .Get "id"}}" width="{{ .Get "width" }}" height="{{ .Get "height" }}"></canvas>
  <script>
    var ctx = document.getElementById({{ .Get "id" }}).getContext('2d');
    var myChart = new Chart(ctx, {
      {{ if .Params.type}}type: '{{ .Params.type}}',{{ else }}type: 'line',{{ end }}
      data: {
        datasets: [
  {{range (index $data.datasets)}} {
            pointRadius: 0,
            fill: false,
            backgroundColor: {{ .color }},
            borderColor: {{ .color }},
            borderWidth: 2,
            label: '{{ .label }}',
            data: {{ .data }},
          },{{end}}
        ]
      },
    options: {
      plugins: {
        title: {
          display: true,
          fontSize: 16,
          text: '{{ .Params.title }}',
        },
      },
      scales: {
        xAsix: {
          type: 'linear',
          title: {
            display: true,
            text: '{{ .Params.xlabel }}'
          }
        },
        yAxis: {
          type: 'linear',
          title: {
            display: true,
            text: '{{ .Params.ylabel }}'
          },
          min: 0,
          {{ if .Params.ymax }}suggestedMax: {{ .Params.ymax }},{{ end }}
        }
      }
    }
    });
  </script>
</div>